@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply bg-white text-black;
}

.leading-80 {
    line-height: 80px;
}

.logo {
    min-width: 100px;
}

/* .font-prata {
    font-family: 'Prata', serif;
} */